
services:
  joplin-sync:
    build: .
    container_name: joplin_sync
    restart: unless-stopped
    # Run as root to allow the entrypoint to fix cron permissions, 
    # then the cron job itself drops down to 'appuser'
    user: root
    volumes:
      # 1. Scripts (Logic)
      - ./joplin-export.sh:/scripts/joplin-export.sh
      - ./joplin-cron:/scripts/joplin-cron

      # 2. Configs (State)
      # mount config dir as rclone/ directory; since it contains rclone.conf
      - ./config:/home/appuser/.config/rclone
      # Persist Joplin's local database so we don't re-download everything every time
      - joplin_data:/home/appuser/.config/joplin

    env_file:
      - .env

volumes:
  joplin_data:
